<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.imldy.mriai.console.plugin.mapper.UserMapper">

    <update id="setSouthWaterCardNoByQQId">
        update user
        set
            southWaterCardNo = #{southWaterCardNo}
        where
            qqId = #{qqId}
    </update>
    <select id="getSouthWaterCardNoByUserQQId" resultType="string">
        select southWaterCardNo
        from user
        where qqId = #{qqId}
    </select>
</mapper>