<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="cn.imldy.mriai.console.plugin"/>

    <bean id="okHttpClient" class="okhttp3.OkHttpClient"/>

    <!--Spring引入外部配置文件-->
    <context:property-placeholder location="classpath:openApi.properties" ignore-unresolvable="true"/>

    <bean id="openApi" class="cn.imldy.mriai.console.plugin.api.OpenApi">
        <property name="protocol" value="${openApi.protocol}"/>
        <property name="host" value="${openApi.host}"/>
        <property name="port" value="${openApi.port}"/>
        <property name="okHttpClient" ref="okHttpClient"/>
    </bean>

    <!--Spring引入外部配置文件-->
    <context:property-placeholder location="classpath:jdbc.properties" ignore-unresolvable="true"/>
    <!-- Spring管理数据库-->
    <!--    配置数据库-->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <!--        这个类负责数据库管理-->
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
    </bean>
    <!--    sql会话工厂-->
    <!--    负责帮助我连接数据库-->
    <bean id="sqlSessionFactory"
          class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mappers/*.xml"/>
    </bean>
    <!--    链接完数据库给谁用-->
    <!--    MyBatis如何使用Spring管理的对象-->
    <!--    配置数据操作类的位置-->
    <bean id="mapperBean"
          class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.imldy.mriai.console.plugin.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
</beans>